<!doctype html>
<html lang="en">

	<head>
		{{> head }}
		<link rel="stylesheet" href="/css/custom.css">
		<link rel="stylesheet" href="/css/animate.css">
	</head>

	<body>
		<div class="background-page">
			<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
			<div class="container">
				<div class="row align-items-center py-5 header-offset">
					<div class="col-lg-6 text-white py-4">
						<h1>Schedule</h1>
						<p class="font-weight-thin lead text-white mb-0">Deadlines, Event Dates,
							and More.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container text-white my-4 d-flex w-100 justify-content-center">
			<div class="row my-0 w-100">
				{{#each competitions}}
				<div class="col-4 d-flex align-items my-2">
					<div class="card border-0">
						<img class="card-img-top custom__image__height" src="{{ this.img }}"
							alt="{{ this.title }}">
						<div class="card-body">
							<h5 class="border-bottom pb-3 mb-2 font-weight-bold">{{ this.title }}</h5>
							<p class="pb-0 mb-0"><b>Start:</b> {{this.start }}</p>
							<p class="pb-3"><b>End:</b> {{this.end }}</p>
							<p class="card-text-custom">{{ this.description }}</p>
						</div>
						<div class="card-footer">
							<a href="{{ this.link }}" class="custom__btn float-right mt-auto"
								target="__blank"
								rel="noopener noreferrer">Learn More</a>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<div id="back-to-top" href="#" class="btn btn-sm btn-light back-to-top"
			role="button"><i
				class="fas fa-arrow-up"></i></div>
		{{> footer }}
	</body>

</html>