<!-- Made by Raymond Zhao, with the navbar from Anton Barchukov -->
<!doctype html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173254620-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-173254620-1');
	</script>

	<!-- Simple metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Open Graph Protocol metadata -->
	<meta property="og:site_name" content="NVHS Computing Team">
	<meta property="og:description" content="The schedule for NVHS Computing Team. Deadlines, event dates, and more.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://nvcomputing.com/schedule">
	<meta property="og:title" content="Schedule | NVComputing">
	<meta property="og:image" content="/res/android-chrome-512x512.png">

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/navbar.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">

	<!-- Favicon stuff -->
	<link rel="apple-touch-icon" sizes="180x180" href="/res/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
	<link rel="manifest" href="/res/site.webmanifest">

	<title>Upcoming Events | NV Computing</title>
</head>
<body>
<div class="background-page">
	<div class="navbar-wrapper pt-3">
		<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark top-navbar navbar-custom" id="navbar">
			<div class="container">
				<a href="/" class="navbar-brand d-block d-sm-none" id="navimgref-sm"><img src="/res/nvct-logo.svg" alt="Neuqua Logo" id="navimg" class="img-fluid"></a>
				<a href="/" class="navbar-brand d-none d-sm-block" id="navimgref-lg"><img src="/res/nvct-logo-h.svg" alt="Neuqua Logo" id="navimg" class="img-fluid"></a>
				<button class="navbar-toggler navbar-toggler-custom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav pull-right">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/resources">Resources</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/practice">Practice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/schedule">Schedule</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container py-5">
		<div class="row h-100 align-items-center py-5">
			<div class="col-lg-6 text-white">
				<h1><b>NVHS Computing Team Schedule</b></h1>
				<p class="lead text-white mb-0">Deadlines, event dates, and more. All times are Chicago timezone.</p>
			</div>
			<div class="col-lg-6 d-none d-lg-block"><img src="/res/nvabout.png" alt="nvclublogo" class="img-fluid rounded"></div>
		</div>
	</div>
</div>

<div id="event-schedule">
	<div class="container text-white my-4">
		<h1>Deadlines</h1>
		{{#if deadlines}}
			{{#each deadlines}}
				<div class="py-4 border-bottom border-top">
					<h3 class="fc-blue">{{this.name}}</h3>
					<p>{{this.desc}}</p>
					<h4><b>Date:</b> {{this.time}}</h4>
				{{#if hard}}
					<div class="text-danger">Note: This is a hard deadline. Please finish on time.</div>
				{{else}}
					<div class="text-success">Note: This is a soft deadline. Try to get it done as soon as possible, but it's a bit more flexible.</div>
				{{/if}}
				</div>
			{{/each}}
		{{else}}
			<h3>Looks like there aren't any deadlines currently scheduled.</h3>
		{{/if}}
	</div>

	<div class="container text-white pb-4">
		<h1>Event Schedule</h1>
		<div class="pb-4"><i>Check back regularly; new events are often added to this page.</i></div>
		{{#if upcomingEvents}}
			{{#each upcomingEvents}}
				{{#if this.link}}
					<h3><a href="{{this.link}}">{{this.name}}</a></h3>
				{{else}}
					<h3>{{this.name}}</h3>
				{{/if}}
				<p>{{{this.desc}}}</p>
				<p class="date-text"><b>Date:</b> {{this.time}}</p>
				{{#if tentative}}
					<p class="text-success">Note: This date is tentative and may change in the future.</p>
				{{/if}}
			{{/each}}
		{{else}}
			<h3>Looks like there aren't any events currently scheduled.</h3>
		{{/if}}
	</div>
</div>
<div class="footer">
	<div class="text-center text-white">&copy;2020 Copyright: <a href="https://nvcomputing.com"> NVComputing.com</a></div>
</div>
</body>

</html>
